:host ::ng-deep {
    &.p-datatable-tbody > tr > td{
        padding-top: 0rem;
        padding-bottom: 0rem;
    }

    &.p-splitter-vertical {
        gap:0.5rem
    }
    &.p-splitter {
        border:none
    }

    &.p-splitter-panel {
        flex-direction: column;
    }
}

.labeling-page {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap:1rem;
}

.description-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.buttons-area{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap:30px
}

.file-buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
}

.toggle-buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap:4px;
}

.navigation-buttons{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
}

.right-side-area{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
    flex-grow: 1;
    align-content: start;
}

.data-area {
    width: 100%;
    min-height: 300px;
    flex-grow: 1;
}
.tables-area-placeholder{
    height: 1px;
    min-height: 300px;
    width: 100%;
    flex-grow: 1;
    overflow: hidden;
}
.tables-area {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    min-height: 0px;
    height: 100%;
    flex-grow: 1;
}
.guidelines-area {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 3;
    // overflow: hidden;
    height: 100%;
}
.events-area {
    display: flex;
    flex-grow: 7;
    flex-direction: row;
    flex-wrap: nowrap;
    // overflow: hidden;
    height: 100%;
}
.vertical-caption-area{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background: var(--surface-ground);
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    // justify-content: space-between;
}

.table-buttons-area{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.table-area {
    flex-grow: 1;
    background-color: var(--bluegray-800);
}

.dialog-body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
}

.dialog-buttons-area{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem

}

.dialog-content{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    align-items: center;
}

.splitter-area{
    height: 100%;
    width: 100%;
}

.side-panel-content {
    padding: 20px;
    height: 100%;
    width: 100%;
}

.side-panel-content p {
    color: #666;
    font-style: italic;
    text-align: center;
    margin-top: 20px;
}