/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/bootstrap4-dark-blue/theme.css";
@import "primeng/resources/primeng.css";

@import "primeicons/primeicons.css";


html {
    font-size: 14px;
}

body {
    font-family: var(--font-family);
    font-weight: normal;
    background: var(--surface-ground);
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    margin: 0px;
    min-height: 600px;
    min-width: 800px;
    width: 100vw
}

.card {
    height: calc(100vh - 5.375rem - 18px);
    border: 1px solid var(--surface-border);
    border-radius: 4px;
    background: var(--surface-overlay);
    padding: 1rem;
    margin: 0rem 1rem 1rem 1rem;
}

th {
    font-weight: normal;
    background: var(--gray-600);
}

td {
    font-weight: normal;
    // background: #20262e;
}

tr:nth-child(even){
    background: var(--gray-700);
}

tr:nth-child(odd){
    background: var(--gray-800);
}

.caption-area{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

// li:nth-child(even){
//     background: var(--gray-700);
// }

// li:nth-child(odd){
//     background: var(--gray-800);
// }

.placeholder {
    flex-grow: 1;
}