<div class="file-upload-container">
  <p-fileUpload
    #fileUpload
    name="fileUpload"
    [multiple]="true"
    [customUpload]="true"
    (uploadHandler)="onUploadHandler($event)"
    [disabled]="isUploading"
    accept=".xlsx,.xls,.csv"
  >
    <ng-template pTemplate="toolbar">
      <div class="upload-toolbar">
        <i class="pi pi-cloud-upload"></i>
        <span>{{ getStatusMessage() }}</span>
      </div>
    </ng-template>

    <ng-template pTemplate="content">
      <div class="upload-content">
        <!-- Show progress during upload -->
        <div *ngIf="isUploading" class="upload-progress">
          <div class="progress-bar">
            <div class="progress-fill" [style.width.%]="uploadProgress"></div>
          </div>
          <span class="progress-text">{{ uploadProgress }}%</span>
        </div>

        <!-- Show uploaded files after completion -->
        <ul *ngIf="!isUploading && uploadProgress === 100 && uploadedFileNames.length > 0" class="uploaded-files-list">
          <li *ngFor="let fileName of uploadedFileNames" class="uploaded-file-item">
            <i class="pi pi-check-circle"></i>
            <span>{{ fileName }}</span>
          </li>
        </ul>

        <!-- Show instructions when idle -->
        <div *ngIf="!isUploading && uploadedFileNames.length === 0" class="upload-instructions">
          <i class="pi pi-inbox"></i>
          <p>No files selected</p>
          <p class="help-text">Supported formats: .xlsx, .xls, .csv</p>
        </div>
      </div>
    </ng-template>
  </p-fileUpload>
</div>
