.files-page{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap:1rem;
}

.files-area {
    flex-grow: 1;
    overflow: hidden;
}

.caption-text-area{
    display: flex;
    gap: 1rem;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

:host ::ng-deep {
    &.p-datatable-header{
        border: none;
        background: var(--surface-ground);
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    &.p-speeddial-direction-down-right {
        right: 2rem;
        bottom: 2rem;
    }
}

.dialog-body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem
}
.sharing-message-area{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    align-items: center;
}

.dialog-buttons-area{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem

}

.user-selection-area{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    align-items: center;
}