<div class="project-page card">
    <div class="header">
        <p-dropdown [options]="projectList" optionLabel="projectName" [(ngModel)]="selectedProject" (onChange)="onChangeSelectedProject($event)" styleClass="dropdown-component"></p-dropdown>
        <p-button icon="pi pi-share-alt" (onClick)="onClickShare($event)" [rounded]="true" [outlined]="true"></p-button>
    </div>
    <div class="bottom-area">
        <div class="classes-area">
            <p-table [value]="classesList!" [tableStyle]="{'min-width': '10rem'}" styleClass="p-datatable-gridlines" [scrollable]="true" scrollHeight="flex">
                <ng-template pTemplate="caption">
                    <div class="caption-area">
                        <span>Classes</span>
                        <div>
                            <p-button icon="pi pi-plus" (onClick)="onClickAddNewClass($event, false)" [rounded]="true" [text]="true"></p-button>
                            
                            <p-button icon="pi pi-refresh" (onClick)="onClickRefreshClass($event)" [rounded]="true" [text]="true"></p-button>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th class="gray-900">Name</th>
                        <th class="table-header">Color</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-class_>
                    <tr>
                        <td (click)="onClickUpdateClass($event, class_)" style="cursor: pointer;">{{class_.name}}</td>
                        <td><span [style.color]="class_.color" >{{class_.color}}</span></td>
                    </tr>
                </ng-template>
            </p-table>
            
        </div>
        <div class="template-area">
            <p-table [value]="templateList!" [tableStyle]="{'min-width': '10rem'}" styleClass="p-datatable-gridlines" [scrollable]="true" scrollHeight="flex">
                <ng-template pTemplate="caption">
                    <div class="caption-area">
                        <div>Templates</div>
                        <div>
                            <p-button icon="pi pi-plus" (onClick)="onClickAddNewTemplate($event, false)" [rounded]="true" [text]="true"></p-button>
                            <p-button icon="pi pi-refresh" (onClick)="onClickRefreshTemplate($event)" [rounded]="true" [text]="true"></p-button>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 80%;">Name</th>
                        <th style="width: 15%;">File Type</th>
                        <th style="width: 5%;"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-template>
                    <tr>
                        <td (click)="onClickUpdateTemplate($event, template)" style="cursor: pointer;;">{{template.name}}</td>
                        <td>{{template.fileType}}</td>
                        <td>
                            <p-button icon="pi pi-clone" (onClick)="onClickClone($event, template)" [rounded]="true" [text]="true" pTooltip="Clone Template" styleClass="button-inline"></p-button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            
        </div>
    </div>
</div>
<p-speedDial direction="down-right" type="quarter-circle" (onClick)="onClickAddNewProejct($event, false)" [rotateAnimation]="false"></p-speedDial>
<p-dialog
    header="Add new class"
    [visible]="addNewClassDialogVisible"
    [style]="{width: '50vw'}"
    [closable]="false"
    [modal]="true">
        <div class="column-flex">
            <div class="row-flex">
                <label for="newClassName">New Class Name</label>
                <input id="newClassName" type="text" pInputText [(ngModel)]="newClassName">
            </div>
            <div class="row-flex">
                <span> Select color </span>
                <p-colorPicker [(ngModel)]="newClassColor" appendTo="body"></p-colorPicker>
            </div>
            <div class="bottom-buttons-area row-flex">
                <div class="placeholder"></div>
                <div class="button-right row-flex">
                    <p-button icon="pi pi-check" [rounded]="true" [text]="true" (onClick)="onClickAddNewClass($event, true)"></p-button>
                    <p-button icon="pi pi-times" [rounded]="true" [text]="true" (onClick)="onClickDialogCancel($event, 'newClass')"></p-button>
                </div>
            </div>
        </div>
</p-dialog>

<p-dialog
    [header]="selectedProject?.projectName"
    [visible]="shareDialogVisible"
    [style]="{width: '50vw'}"
    [modal]="true"
    [closable]="false">
    <div class="dialog-body">
        <div class="user-selection-area">
            <p>Choose a user</p>
            <p-dropdown
                [options]="usersList"
                [(ngModel)]="selectedUser"
                optionLabel="mail"
                appendTo="body"
            ></p-dropdown>
        </div>
        <div class="dialog-buttons-area">
            <div class="placeholder"></div>
            <div class="buttons-right">
                <p-button icon="pi pi-check" [rounded]="true" [text]="true" (onClick)="onClickShareOK($event)"></p-button>
                <p-button icon="pi pi-times" [rounded]="true" [text]="true" (onClick)="onClickDialogCancel($event, 'shareProject')"></p-button>
            </div>
        </div>
        

    </div>
        
</p-dialog>

<p-dialog
    header="Add new template"
    [visible]="addNewTemplateDialogVisible"
    [style]="{width: '50vw'}"
    [closable]="false"
    [modal]="true">
        <div class="column-flex">
            <div class="row-flex">
                <label for="newTemplateName">New Template Name</label>
                <input id="newTemplateName" type="text" pInputText [(ngModel)]="newTemplateName">
            </div>
            <div class="row-flex">
                <span>Select file type</span>
                <p-dropdown [options]="fileTypesList" optionLabel="name" [(ngModel)]="selectedFileType" appendTo="body"></p-dropdown>
            </div>
            <div class="bottom-buttons-area row-flex">
                <div class="placeholder"></div>
                <div class="button-right row-flex">
                    <p-button icon="pi pi-check" [rounded]="true" [text]="true" (onClick)="onClickAddNewTemplate($event, true)"></p-button>
                    <p-button icon="pi pi-times" [rounded]="true" [text]="true" (onClick)="onClickDialogCancel($event, 'newTemplate')"></p-button>
                </div>
            </div>
        </div>
</p-dialog>
<p-dialog
    [header]="updatingTemplateName"
    [visible]="updatingTemplateDialogVisible"
    [style]="{width: '80vw', height: '80vh'}"
    [closable]=false
    [modal]="true">
        <div class="column-flex">
            <div class="buttons-area row-flex">
                <!-- <label for="updatingTemplateName">New Template Name</label>
                <input id="updatingTemplateName" type="text" pInputText pTooltip="Please give the template a name." [(ngModel)]="newTemplateName"> -->
                <!-- <span>{{newTemplateName}}</span> -->
                <p-dropdown [options]="fileTypesList" optionLabel="name" [(ngModel)]="selectedFileType"></p-dropdown>
                <p-button 
                    icon="pi pi-plus"
                    (onClick)="onClickAddChannel($event)" pTooltip="Add a Channel" [rounded]="true" [text]="true">
                </p-button>
                <p-button
                    icon="pi pi-upload"
                    (onClick)="onClickFromFile($event)" pTooltip="Upload Test File" [rounded]="true" [text]="true">
                </p-button>
            </div>
            <div class="meta-list row-flex" *ngIf="template!==undefined">
                <label for="sheetName">Sheet name (0-indexed)</label>
                <input id="sheetName" type="text" pInputText pTooltip="Supported input: 0-indexed number or string" [(ngModel)]="template!.sheetName">
                <label for="headRow">Header rows index (0-indexed)</label>
                <input id="headRow" type="number" pInputText 
                    pTooltip="Supported input: 0-indexed number. Nb of head rows in the table (only the first head row is considered as head)." 
                    [(ngModel)]="template!.headRow">
                <label for="skipRows">Nb of rows to skip after header (0-indexed)</label>
                <input id="skipRows" type="number" 
                    pTooltip="Supported input: 0-indexed number. Number of rows to be skiped from the top (after head row)." 
                    pInputText [(ngModel)]="template!.skipRow">
    
            </div>
            <div class="x-channel row-flex" *ngIf="template!==undefined">
                <label for="xAxisName">X axies Name</label>
                <input id="xAxisName" type="text" pInputText [(ngModel)]="template.x.name">
                <label for="regex">Matching string</label>
                <input id="regex" type="text" pInputText pTooltip="Please enter regular expression." [(ngModel)]="template.x.regex">
                <label for="unitRow">Unit</label>
                <input id="unitRow" type="text" pInputText [(ngModel)]="template.x.unit">
                <p-checkbox [(ngModel)]="template.x.isTime" label="isTime" [binary]="true" inputId="binary"></p-checkbox>
            </div>
            <div class="channel-list column-flex" *ngIf="template!==undefined">
                <div *ngFor="let channel of template!.channels; let index=index" class="row-flex">
                    <label for="channelName">Variable Name</label>
                    <input id="channelName" type="text" pInputText [(ngModel)]="channel.channelName">
                    <label for="regex">Matching string</label>
                    <input id="regex" type="text" pInputText pTooltip="Please enter regular expression." [(ngModel)]="channel.regex">
                    <label for="unitRow">Unit</label>
                    <input id="unitRow" type="text" pInputText [(ngModel)]="channel.unit">
                    <p-colorPicker [(ngModel)]="channel.color" appendTo="body"></p-colorPicker>
                    <p-checkbox [(ngModel)]="channel.mandatory" label="mandatory" [binary]="true" inputId="binary"></p-checkbox>
                    <p-button icon="pi pi-times" (onClick)="onClickRemoveChannel($event, index)"></p-button>
                </div>
            </div>
            <div class="bottom-buttons-area row-flex">
                <div class="placeholder"></div>
                <div class="button-right row-flex">
                    <p-button icon="pi pi-check" [rounded]="true" [text]="true" (onClick)="onClickUpdateTemplateOk($event)"></p-button>
                    <p-button icon="pi pi-times" [rounded]="true" [text]="true" (onClick)="onClickDialogCancel($event, 'updateTemplate')"></p-button>
                </div>
            </div>
            
            
        </div>
        
</p-dialog>
<p-dialog
    header="Add new project"
    [visible]="addNewProjectDialogVisible"
    [style]="{width: '50vw'}"
    [closable]="false"
    [modal]="true">
        <label for="newProjectName">New Project Name</label>
        <input id="newProjectName" type="text" pInputText [(ngModel)]="newProjectName">
        <p-button label="OK" (onClick)="onClickAddNewProejct($event, true)"></p-button>
        <p-button label="Cancel" (onClick)="onClickDialogCancel($event, 'newProject')"></p-button>
</p-dialog>
<p-dialog
    [header]="updatingClassName"
    [visible]="updateClassDialogVisible"
    [style]="{width: '50vw'}"
    [closable]="false"
    [modal]="true">
        <div class="column-flex">
            <div class="row-flex">
                <label for="ClassName">New Class Name</label>
                <input id="ClassName" type="text" pInputText [(ngModel)]="newClassName">
            </div>
            <div class="row-flex">
                <span> Choose color</span>
                <p-colorPicker [(ngModel)]="newClassColor" appendTo="body"></p-colorPicker>
            </div>
            <div class="bottom-buttons-area row-flex">
                <div class="placeholder"></div>
                <div class="button-right row-flex">
                    <p-button icon="pi pi-check" [rounded]="true" [text]="true" (onClick)="onClickUpdateClassOk($event)"></p-button>
                    <p-button icon="pi pi-times" [rounded]="true" [text]="true" (onClick)="onClickDialogCancel($event, 'updateClass')"></p-button>
                </div>
            </div>
        </div>
</p-dialog>
<p-dialog
    [header]="updatingTemplateName"
    [visible]="cloneDialogVisible"
    [style]="{width: '50vw'}"
    [closable]="false"
    [modal]="true">
    <div class="column-flex">
        <div class="row-flex">
            <label for="ClassName">New Template Name</label>
            <input id="ClassName" type="text" pInputText [(ngModel)]="newTemplateName">
        </div>
        <div class="bottom-buttons-area row-flex">
            <div class="placeholder"></div>
            <div class="button-right row-flex">
                <p-button icon="pi pi-check" [rounded]="true" [text]="true" (onClick)="onClickCloneDialogOk($event)"></p-button>
                <p-button icon="pi pi-times" [rounded]="true" [text]="true" (onClick)="onClickDialogCancel($event, 'cloneTemplate')"></p-button>
            </div>
        </div>
    </div>
</p-dialog>
<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>